<nav class="breadcrumb ng-scope">
    <i class="Hui-iconfont"></i> <a ui-sref="home">首页</a> <span class="c-gray en">>活动数据详情<span class="c-gray en">>抽奖数据统计
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href='javascript:location.reload()' title="刷新">
    <i class="Hui-iconfont"></i></a>
</nav>
<article class="page-container">
    <div class="commonIit">抽奖数据</div>
    <search-con2></search-con2>
    <div class="tableCon" id="tableScroll" style="overflow: hidden;">
        <div class="container" style="margin-top: 20px">
            <p>用户钻石总量：<span ng-bind="total_diamond"></span></p>
            <p>用户玫瑰总量：<span ng-bind="total_rose"></span></p>
        </div>
        <table class="tableMain" cellpadding="0" cellspacing="0" width="100%" >
            <tr>
                <th width="5%">日期</th>
                <th width="5%">今日抽奖人数</th>
                <th width="5%">今日送出钻石数量</th>
                <th width="5%">今日送出玫瑰数量</th>
                <th width="5%">今日获得积分数</th>
                <th width="5%">今日获得红包金额</th>
                <th width="5%">今日获得补签卡数量</th>
            </tr>
            <tr ng-repeat="topicList in luckyDraw" repeat-done="">
                <td>{{ topicList.date }}</td>
                <td>{{ joins[$index].number }}</td>
                <td>{{ diamond_count[$index].number }}</td>
                <td>{{ rose_count[$index].number }}</td>
                <td>{{ credit[$index].number }}</td>
                <td>{{ topicList.price }}</td>
                <td>{{ checkin_card[$index].number }}</td>
            </tr>
        </table>
    </div>
    <page-con></page-con>
</article>