<nav class="breadcrumb ng-scope">
    <i class="Hui-iconfont"></i> <a ui-sref="home">首页</a> <span class="c-gray en">>资金记录
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href='javascript:location.reload()' title="刷新">
    <i class="Hui-iconfont"></i></a>
</nav>
<article class="page-container">
<div class="commonIit"><export-excel></export-excel>资金记录</div>
<div class="searchLine">
    <input type="date" placeholder="开始时间" name="bgnT" class="marginI">
    <input type="date" placeholder="结束时间" name="endT">
    <input type="text" placeholder="手机号" name="phone" class="marginI" style="width: 200px;">
    <input type="text" placeholder="用户ID" name="uid" class="marginI" style="width: 200px;">
    <input type="text" placeholder="用户名" name="username" class="marginI" style="width: 200px;">
    <input type="text" placeholder="用户类型" name="type" class="marginI" style="width: 200px;">
    <div class="clear"></div>
    <div class="inputLine2" style="margin: 10px 0 0 0;padding:0;">
        <input type="text"  class="marginI selectIcon2" style="width: 202px;margin: 0;" value="资金类型" name="type">
        <ul style="left: 0px;width: 202px;">
            <li>充值</li>
            <li>提现</li>
            <li>红包</li>
            <li>任务发布</li>
            <li>任务获取</li>
            <li>竞猜投注</li>
            <li>竞猜锁定</li>
            <li>竞猜收益</li>
        </ul>
    </div>
    <button class="searchBrn" ng-click="search()" style="margin: 10px 0 0 10px;">搜索</button>
</div>
<div class="tableCon" id="tableScroll" style="overflow: hidden;">
    <div class="commonIit">
        <export-excel></export-excel>
        收支明细</div>
    <div class="tableCon">
        <table class="tableMain" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <th width="5%">来源</th>
                <th width="5%">时间</th>
                <th width="5%">金额</th>
            </tr>
            <tr ng-repeat="topicList in balanceListCon" repeat-done="">
                <td>{{topicList.payment_name}}</td>
                <td>{{topicList.created_at * 1000 | data2}}</td>
                <td>{{topicList.cash_flow | flow2}}{{topicList.amount}}</td>
            </tr>
        </table>
    </div>
    <page-con2></page-con2>
</div>
</article>>
<script>
    $(function(){
        $(".inputLine2 .selectIcon2").click(function(){
            $(this).next("ul").slideToggle();
        });
        $(".inputLine2 li").click(function(){
            var ele = $(this).html();
            $(this).parent().slideUp();
            $(this).parent().prev().val(ele);
        })
    });
</script>